<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="#" class="logo">
              <img src="image/kit.jpg" alt="" />
              <span class="nav-item">Kit-Assur</span>
            </a></li>
          <li><a href="/await">
              <i class="fas fa-home"></i>
              <span class="nav-item">Users Awaiting verification</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-user"></i>
              <span class="nav-item">User Detail</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-wallet"></i>
              <span class="nav-item">Veridication workflow</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">User Activity Monitory</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">Verification Completion Rate</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Settings</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a></li>
          <li><a href="" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a></li>
        </ul>
      </nav>

      <section class="main">
        <div class="main-top">
          <h1>DashBoard</h1>
          <i class="fas fa-user-cog"></i>
        </div>
        <div class="main-inf">
          <div class="card">
            <i class="fas fa-user"></i>
            <h3>0</h3>
            <p>Total number of users</p>
            <button>View All</button>
          </div>
          <div class="card">
            <i class="fas fa-wallet"></i>
            <h3>0</h3>
            <p>Users still under the process of validation</p>
            <button>View All</button>
          </div>
          <div class="card">
            <i class="fas fa-tasks"></i>
            <h3>0</h3>
            <p>Newest Users</p>
            <button>View All</button>
          </div>
        </div>
        <section class="main-assur">
          <h1>Recents Insurance</h1>
          <div class="assur-box">
            <table border="2px">
              <tr>
                <th>
                  Assurance 1
                </th>
              </tr>
              <td id="col">
                Health Insurance
              </td>
            </table>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>