<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="leaderdashboard.css">
</head>
<body>
     <div class="container">
      <nav>
        <ul>
          <li><a href="#" class="logo">
              <img src="image/kit.jpg" alt="" />
              <span class="nav-item">Kit-Assur</span>
            </a></li>
          <li><a href="/await">
              <i class="fas fa-home"></i>
              <span class="nav-item">Project  Name and summarised documents </span>
            </a></li>
          <li><a href="">
              <i class="fas fa-user"></i>
              <span class="nav-item">Investment Highlight </span>
            </a></li>
          <li><a href="">
              <i class="fas fa-wallet"></i>
              <span class="nav-item"> Project status</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Mile stone</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">Team Performance</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Settings</span>
            </a></li>
          <li><a href="">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Issues tracker</span>
            </a></li>
          <li><a href="/project" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">CreatenewProject</span>
            </a></li>
        </ul>
      </nav>

      <section class="main">
        <div class="main-top">
          <h1>DashBoard</h1>
          <i class="fas fa-user-cog"></i>
        </div>
        <div class="main-inf">
          <div class="card">
            <i class="fas fa-user"></i>
            <h3>0</h3>
            <p>Total number of project</p>
            <button>View All</button>
          </div>
          <div class="card">
            <i class="fas fa-wallet"></i>
            <h3>0</h3>
            <p>Curent Projects</p>
            <button>View All</button>
          </div>
          <div class="card">
            <i class="fas fa-tasks"></i>
            <h3>10 </h3>
            <p>current Project time</p>
            <button>View All</button>
          </div>
        </div>
        <section class="main-assur">
          <h1>Recents Insurance</h1>
          <div class="assur-box">
            <table border="2px">
              <tr>
                <th>
                  Assurance 1
                </th>
              </tr>
              <td id="col">
                Health Insurance
              </td>
            </table>
          </div>
        </section>
      </section>
    </div>
</body>
</html>